html,
body,
header,
#intro {
    height: 100%;
} 

footer{
    background-color: rgba(29, 101, 122, 0.918);
}
#intro {
    background: url("/img/bg/carna.gif")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 #contactInfo {
    height: 60px;
 }
.navbar {
    background-color: rgba(29, 101, 122, 0.918);
}

.navbar-brand {
    text-align: center;
    background-color: rgba(19, 76, 94, 0.918);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-style: solid;
}

.navbar-brand:hover {
    border-radius: 1rem;
}

#Heading {
    margin-top: 20%;
    color: white;
}

#profile-img {
    height: 290px;
}
  
#work-logo {
    
    width: 200px;
    
    height: 120px;
    margin: 0 auto;
}
.work-style {
    margin: 0 auto;
}
.img-pic {
    height: 100%;
    margin: 0 auto;

}

.python-logo{
    background-color: blue;
}

#tech-stack {
    height: 200px;
}
.row-toolbox {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
}
.row-companies {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
}


#tech-stack-icon {
    max-height: 100px;
    width: 100px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); */
}
#data-row {
    max-height: 50px;
}


